* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*SECCION HEADER*/
.header-top {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #012169;
    z-index: 2;
}
.titulo-header {
    color: white;
    font-family: directv_curvemedium;
    font-size: 11pt;
}
.tel-up{
    color: #ffc60b;
    font-family: 'poppins', sans-serif;
    font-size: 11pt;
    text-decoration: none;
}
/*SECCIÓN NAVEGACION*/
.nav-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: #000;
    z-index: 2;
}
.logo {
    display: flex;
    position: relative; left: 90px; 
    width: 200px;
    height: auto;
    background-color: transparent;
}
.navegacion {
    float: right;
    list-style: none;
    text-align: center;
    vertical-align: top;
    margin: 0 5px;
    background-color: transparent;
}
.link-navegacion {
    list-style-type: none;
    display: inline;
    background-color: transparent;
}
.boton-navegacion {
    font-family: directv_curvemedium;
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
    color: white;
    background-color: transparent;
}
.boton-navegacion:hover {
    color: #00acfb;
}
.boton-telefono {
    font-family: 'poppins', sans-serif;
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
    color: #ffc60b;
    background-color: transparent;
}
/*SECCION HERO*/
.hero {
    background-image: url(hero_background.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
}
.phone-hecho {
    display: flex;
    position: relative; left: 8%; top: 220px;
    width: auto;
    height: 350px;
}  
.cuadro-hero {
    display: flex;
    flex-direction: column;
    float: right;
    width: 350px;
    height: 510px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute; right: 150px; top: 110px;
    overflow-y: hidden;
}
.publi-combo {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    color: #00acfb;
}
.sub-combo {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: white;
}
.combo {
    font-family: 'directv_curvebold';
    font-size: 30pt;
    color: white;
}
.descuento-combo {
    font-family: 'directv_curvebold';
    Font-size: 20pt;
    color: #ffc60b;
}
.duracion-combo {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    Color: white;
    margin-bottom: 10px;
}
.linea-hero {
    justify-content: center;
    width: 120px;
    border-color: #00acfb;
}
.descripcion-combo {
    font-family: 'poppins', sans-serif;
    font-size: 12pt;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tarjetas {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-y: hidden;
}
.tarjeta-combo {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border:  2px #012169 solid;
    border-radius: 10px;
}
.boton-combo {
    border: none;
    font-size: 12pt;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0.75rem 1.5rem;
    background-color: #00ADEE;
    border-radius: 25px;
    width: 60%;
}
.boton-combo:hover {
    color: #012169;
    background: linear-gradient(0deg, #B98E00, #ffc60b)
}
.link-combo {
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    color: white;
}
.cuadro-fondo-combo {
    border: 5px #012169 solid;
    border-radius: 20px;
    width: 350px;
    height: 530px;
    background-color: #012169;
    opacity: 0.4;
    position: absolute; right: 160px; top: 110px;
}
/*SECCION FORMULARIO*/
.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    background: linear-gradient( 0deg, #1b1b32, #012169);
    background-size: cover;
}
.titulo-formulario {
    color: white;
    font-family: directv_curvebold;
    font-size: 36pt;
}
.subtitulo-formulario {
    font-family: directv_curveregular;
    font-size: 24pt;
    color: white;
}
.parrafo-formulario {
    font-family: directv_curveregular;
    font-size: 12pt;
    color: white;
}
form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
}
input {
    font-family: directv_curveregular;
    font-size: 12pt;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 25px;
}
.btn-form {
    font-family: directv_curvebold;
    font-size: 12pt;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: #ffc60b;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 30px;
}
.btn-form:hover {
    color: white;
    background-color: #012169;
}
.autorizacion {
    font-family: directv_curveregular;
    font-size: 9pt;
    color: white;
}
/*SECCION PREMIUM*/
.premium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}
.titulo-premium {
    color: #000;
    font-family: directv_curvebold;
    font-size: 36pt;
}
.subtitulo-premium {
    color: #000;
    font-family: 'poppins', sans-serif;
    font-size: 24pt;
}
.parrafo-premium {
    color: #00ADEE;
    font-family: 'poppins',sans-serif;
    font-size: 14pt;
}
.listas-packs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}
#btn-premium {
    color: #00ADEE;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: lightblue;
    margin: 10px;
}
#btn-premium:hover {
    font-weight: 400;
    color: white;
    background: linear-gradient(90deg, #00ADEE, #012169);
    cursor: pointer;
}
/*CARRUSEL*/
.center {
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 350px;
    justify-content: center;
}  
.wrapper {
    display: flex;
    overflow: hidden;
}
.inner {
    display: flex;
    grid-gap: 1em;
    transition: all 1s ease-in-out;
}  
.card {
    align-content: center;
    align-items: center;
    width: 240px;
    height: 300px;
    background: linear-gradient(0deg, #000, #012169);
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
} 
.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
}
.img-tarjeta {
    width: auto;
    height: 60px;
    margin: 5px;
}
.titulo-tarjeta {
    font-family: directv_curvebold;
    font-size: 14pt;
    color: #fff;
}
.subtitulo-tarjeta {
    font-family: 'poppins', sans-serif;
    color: #00ADEE;
    font-size: 12pt;
    font-weight: 200;
}
.linea-tarjeta {
    display: flex;
    border-color: #00ADEE;
    width: 80px;
    margin: 5px;
}
.parrafo-tarjeta {
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 8pt;
    margin: 5px;
}
.btn-tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 12pt;
    width: 150px;
    height: 40px;
    background: linear-gradient(90deg, #012169, #00ADEE);
    border: none;
    border-radius: 25px;
    margin: 5px;
}
.btn-tarjeta:hover {
    background: linear-gradient(0deg, #012169, #00ADEE);
    cursor: pointer;
}  
/*SECCION FUTBOL*/
.futbol {
    background-image: url(./img/futbol-banner2.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
}
.uefa-futbol {
    float: left;
    position: relative; left: 200px; top: 120px;
    width: 300px;
    height: auto;
}
.descripcion-futbol {
    display: flex;
    flex-direction: column;
    float: right;
    position: relative; right: 120px; top: 120px;
    justify-content: center;
    align-items: center;
}
.titulo-futbol {
    font-family: directv_curvebold;
    text-align: center;
    font-size: 24pt;
    color: white;
}
.linea-futbol {
    border-color: #00acfb;
    width: 120px;
    margin: 20px 0 20px 0;
}
.subtitulo-futbol {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    text-align: center;
    color: white;
}
.contactar {
    font-family: 'poppins', sans-serif;
    font-size: 15pt;
    width: 250px;
    height: 50px;
    margin-top: 30px;
    border: none;
    border-radius: 25px;
    color: white;
    background: linear-gradient(90deg, #00ADEE, #012169);
}
.contactar:hover {
    background: linear-gradient(0deg, #012169, #00ADEE);
}
.link-contactar {
    text-decoration: none;
    color: white;
}
/*SECCION CUENTA*/
.cuenta-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: url(./img/puntos.png);
    background-repeat: no-repeat;
}
.titulo-cuenta-final {
    color: #012169;
    font-family: directv_curvebold;
    font-size: 36pt;
}
.subtitulo-cuenta-final {
    color: #012169;
    font-family: directv_curveregular;
    font-size: 24pt;
    margin: 10px;
}
.botones-cuenta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.boton-0800 {
    background-color: #ffc60b;
    width: 300px;
    height: 50px;
    margin-top: 50px;
    margin-right: 20px;
    border: none;
    border-radius: 25px;
}
.link-0800 {
    font-family: 'poppins', sans-serif;
    font-size: 15pt;
    text-decoration: none;
    color: white;
}
.boton-0800:hover {
    color: white;
    background: linear-gradient(0deg, #B98E00, #ffc60b);
}
.boton-quiero {
    font-family: poppins;
    font-size: 15pt;
    color: white;
    background: linear-gradient(90deg, #00ADEE, #012169);
    width: 300px;
    height: 50px;
    margin-top: 50px;
    border: none;
    border-radius: 25px;
}
.link-quiero {
    font-family: 'poppins', sans-serif;
    font-size: 15pt;
    text-decoration: none;
    color: white;
}
.boton-quiero:hover {
    color: white;
    background: linear-gradient(0deg, #012169, #00ADEE)
}
.logo-cuenta {
    width: 150px;
    height: auto;
    margin-top: 80px;
}
/*SECCION FOOTER*/
.pie-pagina {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    color: white;
    background-color: #000;
}
.terminos-condiciones {
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-size: 9pt;
}
.copy {
    color: white;
    font-family: poppins;
    font-size: 9pt;
}
/*BOTON FLOTANTE WHATSAPP*/
.btn-wsp {
position: fixed;
width: 55px;
height: 55px;
line-height: 55px;
bottom: 30px;
right: 30px;
color: #fff;
background: #0df053;
border: 3px white solid;
border-radius: 50px;
text-align: center;
font-size: 30px;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
z-index: 2;
}
.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
    cursor: pointer;
}