* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header-top {
display: flex;
flex-direction: column;
position: fixed;
width: 100%;
height: 50px;
justify-content: center;
align-items: center;
background-color: #012169;
z-index: 2;
}
.titulo-header {
    color: white;
    font-family: directv_curvemedium;
    font-size: 11pt;
}
.tel-up{
color: #ffc60b;
font-family: directv_curvemedium;
font-size: 11pt;
text-decoration: none;
}
.nav-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: #1b1b32;
    z-index: 2;
}
.logo {
    display: flex;
    position: relative; left: 90px; 
    width: 200px;
    height: auto;
    background-color: transparent;
}
.navegacion {
    float: right;
    list-style: none;
    text-align: center;
    vertical-align: top;
    margin: 0 5px;
    background-color: transparent;
}
.link-navegacion {
    list-style-type: none;
    display: inline;
    background-color: transparent;
}
.boton-navegacion {
    font-family: directv_curvemedium;
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
    color: white;
    background-color: transparent;
}
.boton-navegacion:hover {
    color: #00acfb;
}
.hero {
    background-image: url(hero_background.jpg);
    width: 100%;
    height: 650px;
    z-index: -2;
    
}
.phone-hecho {
    display: flex;
    position: relative; left: 120px; top: 220px;
    width: auto;
    height: 300px;
}  
.cuadro-hero {
    display: flex;
    flex-direction: column;
    float: right;
    width: 350px;
    height: 510px;
    gap: 8px;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute; right: 150px; top: 110px;
    overflow-y: hidden;
}
.publi-combo {
    font-family: poppins;
    font-size: 12pt;
    color: #00acfb;
}
.sub-combo {
    font-family: poppins;
    font-size: 12pt;
    color: white;
}
.combo {
font-family: directv_curvebold;
font-size: 30pt;
color: white;
}
.descuento-combo {
font-family: directv_curvebold;
font-size: 18pt;
color: #ffc60b;
}
.duracion-combo {
font-family: poppins;
font-size: 12pt;
color: white;
}
.descripcion-combo {
font-family: poppins;
font-size: 12pt;
color: white;
}
.tarjetas {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.tarjeta-combo {
    width: 60px;
    height: 60px;
    border:  5px #012169 solid;
    border-radius: 10px;
    background-color: #012169;
}
.boton-combo {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    font-family: poppins;
    font-size: 12pt;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 25px;
    width: 60%;
    text-shadow: 0px 4px 18px #2c3442;
}
.boton-combo:hover {
    color: #012169;
    background-color: #ffc60b;
    cursor: pointer;
}
.cuadro-fondo-combo {
    border: 5px #012169 solid;
    border-radius: 20px;
    width: 350px;
    height: 530px;
    background-color: #012169;
    opacity: 0.6;
    position: absolute; right: 160px; top: 110px;
}
.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    background: linear-gradient( 0deg, #1b1b32, #012169);
    background-size: cover;
}
.titulo-formulario {
 color: white;
 font-family: directv_curvebold;
 font-size: 36pt;
}
.subtitulo-formulario {
font-family: directv_curveregular;
font-size: 24pt;
color: white;
}
.parrafo-formulario {
font-family: directv_curveregular;
font-size: 12pt;
color: white;
}
form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
}
input {
    font-family: directv_curveregular;
    font-size: 12pt;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 40px;
    border-radius: 20px;
}
.btn-form {
    font-family: directv_curvebold;
    font-size: 12pt;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: #ffc60b;
    width: 200px;
    height: 60px;
    border-radius: 30px;
}
.autorizacion {
    font-family: directv_curveregular;
    font-size: 9pt;
    color: white;
}