* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

/*SECCION HEADER*/
.header-top {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 3.125em;
    justify-content: center;
    align-items: center;
    background-color: #012169;
    z-index: 2;
}

.titulo-header {
    color: white;
    font-family: directv_curvemedium;
    font-size: 11pt;
}

.tel-up {
    color: #ffc60b;
    font-family: 'poppins', sans-serif;
    font-size: 11pt;
    text-decoration: none;
}

/*SECCIÓN NAVEGACION*/
.nav-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3.125em 0;
    justify-content: space-around;
    width: 100%;
    height: 6.25em;
    background-color: #000;
    z-index: 2;
}

.logo {
    display: flex;
    position: relative;
    left: 5.625em;
    width: 12.5em;
    height: auto;
    background-color: transparent;
}

.navegacion {
    float: right;
    list-style: none;
    text-align: center;
    vertical-align: top;
    margin: 0 0.313em;
    background-color: transparent;
}

.link-navegacion {
    list-style-type: none;
    display: inline;
    background-color: transparent;
}

.boton-navegacion {
    font-family: directv_curvemedium;
    font-size: 1em;
    text-decoration: none;
    line-height: 4.375em;
    padding: 0.938em 0.625em;
    color: white;
    background-color: transparent;
}

.boton-navegacion:hover {
    color: #00acfb;
}

.boton-telefono {
    font-family: 'poppins', sans-serif;
    font-size: 1em;
    text-decoration: none;
    line-height: 4.375em;
    padding: 0.938em 0.625em;
    color: #ffc60b;
    background-color: transparent;
}

/*SECCION HERO*/
.hero {
    background-image: url(hero_background.jpg);
    background-size: cover;
    width: 100%;
    height: 40.625em;
}

.phone-hecho {
    display: flex;
    position: relative;
    left: 8%;
    top: 13.75em;
    width: auto;
    height: 21.875em;
}

.cuadro-hero {
    display: flex;
    flex-direction: column;
    float: right;
    width: 21.875em;
    height: 31.875em;
    padding: 0.75em;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 9.375em;
    top: 6.875em;
    overflow-y: hidden;
}

.publi-combo {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    color: #00acfb;
}

.sub-combo {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: white;
}

.combo {
    font-family: 'directv_curvebold';
    font-size: 30pt;
    color: white;
}

.descuento-combo {
    font-family: 'directv_curvebold';
    Font-size: 20pt;
    color: #ffc60b;
}

.duracion-combo {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    Color: white;
    margin-bottom: 0.625em;
}

.linea-hero {
    justify-content: center;
    width: 7.5em;
    border-color: #00acfb;
}

.descripcion-combo {
    font-family: 'poppins', sans-serif;
    font-size: 12pt;
    color: white;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

.tarjetas {
    display: flex;
    flex-direction: row;
    gap: 0.625em;
    overflow-y: hidden;
}

.tarjeta-combo {
    justify-content: center;
    align-items: center;
    width: 3.75em;
    height: 3.75em;
    border: 0.125em #012169 solid;
    border-radius: 0.625em;
}

.boton-combo {
    border: none;
    font-size: 12pt;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0.625em;
    padding: 0.75rem 1.5rem;
    background-color: #00ADEE;
    border-radius: 1.563em;
    width: 60%;
}

.boton-combo:hover {
    color: #012169;
    background: linear-gradient(0deg, #B98E00, #ffc60b)
}

.link-combo {
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    color: white;
}

.cuadro-fondo-combo {
    border: 0.313em #012169 solid;
    border-radius: 1.25em;
    width: 21.875em;
    height: 33.80em;
    background-color: #012169;
    opacity: 0.4;
    position: absolute;
    right: 10em;
    top: 6.875em;
}

/*SECCION FORMULARIO*/
.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 31.25em;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #1b1b32, #012169);
    background-size: cover;
}

.titulo-formulario {
    color: white;
    font-family: directv_curvebold;
    font-size: 36pt;
}

.subtitulo-formulario {
    font-family: directv_curveregular;
    font-size: 24pt;
    color: white;
}

.parrafo-formulario {
    font-family: directv_curveregular;
    font-size: 12pt;
    color: white;
}

form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1.25em;
}

input {
    font-family: directv_curveregular;
    font-size: 12pt;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 25em;
    height: 3.125em;
    border: none;
    border-radius: 1.563em;
}

.btn-form {
    font-family: directv_curvebold;
    font-size: 12pt;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: #ffc60b;
    width: 12.5em;
    height: 3.75em;
    border: none;
    border-radius: 1.875em;
}

.btn-form:hover {
    color: white;
    background-color: #012169;
}

.autorizacion {
    font-family: directv_curveregular;
    font-size: 9pt;
    color: white;
}

/*SECCION PREMIUM*/
.premium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8em;
    margin: 0.5em;
}

.titulo-premium {
    color: #000;
    font-family: directv_curvebold;
    font-size: 36pt;
}

.subtitulo-premium {
    color: #000;
    font-family: 'poppins', sans-serif;
    font-size: 24pt;
}

.parrafo-premium {
    color: #00ADEE;
    font-family: 'poppins', sans-serif;
    font-size: 14pt;
}

/*CARRUSEL*/
.carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.625em 2.5em;
    margin: 2em;
}

.category_item {
    width: 10em;
    height: 3em;
    margin: 1em;
    border-radius: 10px;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: directv_curvemedium;
    font-size: 12pt;
    text-decoration: none;
    color: #00ADEE;
    background-color: lightblue;
}

.category_item:hover {
    color: white;
    background: linear-gradient(0deg, #012169, #00ADEE);
    cursor: pointer;
}

.swiper {
    width: 70%;
    height: 22em;
    background-color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 1em;
    height: 1em;
}

.swiper-button-prev {
    left: 0.625em;
}

.swiper-button-next {
    right: 0.625em;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background: linear-gradient(0deg, #000, #012169);
    box-shadow: 0.06em 0.06em 0.625em rgba(0, 0, 0, 0.5);
    border-radius: 0.625em;
    padding: 1rem;
}

.swiper-slide img {
    width: auto;
    height: 5em;
    margin: 1em;
}

.swiper-slide h1 {
    font-family: directv_curvebold;
    font-size: 16pt;
    color: #fff;
}

.swiper-slide h3 {
    font-family: 'poppins', sans-serif;
    font-size: 12pt;
    color: #00ADEE;
}

.swiper-slide hr {
    position: relative;
    left: 37%;
    width: 20%;
    margin: 0.5em;
    border-color: #00adee;
}

.swiper-slide p {
    margin: 0.5em;
    font-family: 'poppins', sans-serif;
    font-size: 9pt;
    text-align: center;
    color: #fff;
}

.swiper-slide button {
    width: 12em;
    height: 3em;
    margin: 1em;
    border: none;
    border-radius: 25px;
    background: linear-gradient(0deg, #012169, #00ADEE);
    color: #fff;
    font-size: 9.5pt;
    font-family: 'poppins', sans-serif;
}

.swiper-slide button:hover {
    background: linear-gradient(90deg, #00ADEE, #012169);
    cursor: pointer;
}

/*SECCION FUTBOL*/
.futbol {
    background-image: url(./img/futbol-banner2.jpg);
    background-size: cover;
    width: 100%;
    height: 31.25em;
}

.uefa-futbol {
    float: left;
    position: relative;
    left: 12.5em;
    top: 7.5em;
    width: 18.75em;
    height: auto;
}

.descripcion-futbol {
    display: flex;
    flex-direction: column;
    float: right;
    position: relative;
    right: 7.5em;
    top: 7.5em;
    justify-content: center;
    align-items: center;
}

.titulo-futbol {
    font-family: directv_curvebold;
    text-align: center;
    font-size: 24pt;
    color: white;
}

.linea-futbol {
    border-color: #00acfb;
    width: 7.5em;
    margin: 1.25em 0 1.25em 0;
}

.subtitulo-futbol {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    text-align: center;
    color: white;
}

.contactar {
    font-family: 'poppins', sans-serif;
    font-size: 16pt;
    width: 10em;
    height: 2.9em;
    margin-top: 1.875em;
    border: none;
    border-radius: 1.667em;
    color: white;
    background: linear-gradient(90deg, #00ADEE, #012169);
}

.contactar:hover {
    background: linear-gradient(0deg, #012169, #00ADEE);
}

.link-contactar {
    text-decoration: none;
    color: white;
}

/*SECCION CUENTA*/
.cuenta-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35em;
    background-image: url(./img/puntos.png);
    background-repeat: no-repeat;
}

.titulo-cuenta-final {
    color: #012169;
    font-family: directv_curvebold;
    font-size: 36pt;
}

.subtitulo-cuenta-final {
    color: #012169;
    font-family: directv_curveregular;
    font-size: 24pt;
    margin: 1em;
}

.botones-cuenta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boton-0800 {
    background-color: #ffc60b;
    width: 18.75em;
    height: 3.125em;
    margin-top: 3.125em;
    margin-right: 1.25em;
    border: none;
    border-radius: 1.563em;
}

.link-0800 {
    font-family: 'poppins', sans-serif;
    font-size: 15pt;
    text-decoration: none;
    color: white;
}

.boton-0800:hover {
    color: white;
    background: linear-gradient(0deg, #B98E00, #ffc60b);
}

.boton-quiero {
    font-family: poppins;
    font-size: 15pt;
    color: white;
    background: linear-gradient(90deg, #00ADEE, #012169);
    width: 13em;
    height: 2.19em;
    margin-top: 2em;
    border: none;
    border-radius: 1em;
}

.link-quiero {
    font-family: 'poppins', sans-serif;
    font-size: 15pt;
    text-decoration: none;
    color: white;
}

.boton-quiero:hover {
    color: white;
    background: linear-gradient(0deg, #012169, #00ADEE)
}

.logo-cuenta {
    width: 7em;
    height: auto;
    margin-top: 4em;
}

/*SECCION FOOTER*/
.pie-pagina {
    width: 100%;
    height: 6.25em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    color: white;
    background-color: #000;
}

.terminos-condiciones {
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-size: 9pt;
}

.copy {
    color: white;
    font-family: poppins;
    font-size: 9pt;
}

/*BOTON FLOTANTE WHATSAPP*/
.btn-wsp {
    position: fixed;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    bottom: 1.875em;
    right: 1.875em;
    color: #fff;
    background: #0df053;
    border-radius: 3.125em;
    text-align: center;
    font-size: 24pt;
    box-shadow: 0em 0.063em 0.625em rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
    cursor: pointer;
}